/*
 * Copyright 2014-2023 GPLv3, Open Crypto Tracker by Mike Kilday: Mike@DragonFrugal.com
 */


/* //////////////////////////////
ELEMENTS
////////////////////////////// */




/* //////////////////////////////
CLASSES
////////////////////////////// */


.admin_iframe {
overflow: hidden;
width: 100%; 
position: relative;
padding-top: 30px;
}


.tab-content {
    width: 100%;
}


.tab-content > div {
padding: 0px !important;
}


.tab-content>.active {
    text-align: center;
    display: block;
}


.tab-content>.active h4 {
margin-top: 4px;
margin-bottom: 20px;
}


.nav.nav-tabs-vertical {
    float: left;
    width: 15%;
    display: block;
    border-bottom:0;
    border-right: 0px;
    padding-right: 0px;
    margin-right: 0px;
}


.nav-tabs-vertical .nav-link.active {
text-decoration: none;
    border-top: 2px solid #808080;
    border-left: 2px solid #808080;
    border-bottom: 2px solid #808080;
}


.nav-tabs-vertical .nav-link {
	 font-size: 21px;
padding: 10px;
text-decoration: none;
margin: auto;
   text-align: center;
}


/* //////////////////////////////
IDs
////////////////////////////// */


#admin_tabs li a {
	position: relative;
	left: 2px;
	 margin-bottom: 7px;
	 border-top-left-radius: 10px;
	 border-bottom-left-radius: 10px;
}


#admin_wrapper {
    position: relative !important;
    margin: 0px !important;
    padding: 0px !important;
}


/* admin area titles */
#admin_tab_content .page_title {
left: -47px !important;
}


