/*
 * Copyright 2014-2024 GPLv3, Open Crypto Tracker by Mike Kilday: Mike@DragonFrugal.com (leave this copyright / attribution intact in ALL forks / copies!)
 */


/* //////////////////////////////
ELEMENTS
////////////////////////////// */


body, table, div.tabdiv {
background: #202020 !important;
color: white !important;
}


input:not(.range-field), textarea {
background-color: #dbd9d9;
}


.tablesorter-filter-row td {
background-color: #343f49 !important;
color: white !important;
}


.tablesorter-dark .tablesorter-filter {
color: white !important;
}


.tablesorter-dark tbody > tr.odd:hover > td, .tablesorter-dark tr.odd td.primary, .tablesorter-dark tr.odd td.secondary {
background-color: #28313a !important;
}

.tablesorter-dark tbody > tr.even:hover > td, .tablesorter-dark tr.even td.primary, .tablesorter-dark tr.even td.secondary {
background-color: #343f49 !important;
}


select {
background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='black' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .5rem center/8px 10px !important;
background-color: #dbd9d9 !important;
}


button:not(.btn-number):not(.footer_banner_button), input[type=submit], input[type=button], .force_button_style {
  background-color: #42484e !important;
}


button:not(.modaal-close):not(.accordion-button):not(.btn-number):not(.footer_banner_button), input[type=submit], input[type=button], .force_button_style {
  border: 0.2em solid #999999 !important;
}


input[readonly] { /* For MSIE */
  background-color: #6f6e6e;
}


input[type=text]:-moz-read-only { /* For Firefox */
  background-color: #6f6e6e;
}


input[type=text]:read-only { 
  background-color: #6f6e6e;
}


input[type=text]:disabled { 
  background-color: #6f6e6e;
  color: black;
}


/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type=range]::-webkit-slider-thumb {
  background: white !important;
}


/******** Firefox ********/
input[type=range]::-moz-range-thumb {
  background-color: white !important;
}


::placeholder { /* Most modern browsers support this now. */
   color: black;
}


a, .black, td.data span, .subsection_legend, .crypto_worth, .crypto_worth span, td.data div.crypto_worth span {
color: white;
}


a:visited {
color: #a09e9e;
}


a:hover {
color: #bcbaba;
}


/* //////////////////////////////
CLASSES
////////////////////////////// */


table.data_table:not(#coins_table) {
    border: 2px solid white;
}


.page_title {
    background: #202020;
    border: 0.17em dotted #3f3838 !important;
}


.pw_prompt {
    border: 0.2em solid white;
    background: #777575 !important;
}


.custom-select:disabled { 
  background-color: #6f6e6e !important;
  color: black !important;
}


/* Dark theme drop-downs (in table data only) need dark background too */
td .custom-select {
background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%2328b2ed' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .5rem center/8px 10px !important;
background-color: #3a3a3a !important;
}


.result {
border: 0.3em solid white; 
}


.border_lt {
border-top: 0.17em solid #808080;
border-left: 0.17em solid #808080;
}


.border_rt {
border-top: 0.17em solid #808080;
border-right: 0.17em solid #808080;
}


.border_lrt {
border-top: 0.17em solid #808080;
border-left: 0.17em solid #808080;
border-right: 0.17em solid #808080;
}


.border_lb {
border-bottom: 0.17em solid #808080;
border-left: 0.17em solid #808080;
}


.border_rb {
border-bottom: 0.17em solid #808080;
border-right: 0.17em solid #808080;
}


.border_lrb {
border-bottom: 0.17em solid #808080;
border-left: 0.17em solid #808080;
border-right: 0.17em solid #808080;
}


.border_t {
border-top: 0.17em solid #808080;
}


.border_b {
border-bottom: 0.17em solid #808080;
}


.long_list_odd {
background: #28313a;
}


.long_list_even {
background: #343f49;
}


.list_start_black {
border-bottom: 0.2em solid white;
}


.list_end_black {
border-top: 0.2em solid white;
}


.green {
color: #10d602 !important;
}


.green_dotted {
padding: 10px;
border: 0.4em dotted #10d602 !important;
}


.blue_dotted {
padding: 10px;
border: 0.4em dotted #28b2ed !important;
}


.orange {
color: #ce7039 !important;
}


.blue, td.blue, td.blue span.blue, td select, .btn-link, .btn-link a, .btn-link:hover, #sidebar ul.list-unstyled li a.blue:link {
color: #28b2ed !important;
}


.start_page_menu_red {
border: 0.2em dotted #ff4747; 
}


.activate_chart_sections {
border-top: 0.3em solid white;
}


.modaal-container {
    color: #fff !important;
    background: #202020 !important;
}


.accordion-item {
    color: #fff !important;
    background: #4f4f4f !important;
}


.accordion-button {
    background: #3a3a3a !important;
}


.accordion-button:not(.collapsed) {
    background: #364449 !important;
}


.rounded {
border: 0.2em solid #d4d8d3; 
}


.image_border {
border: 0.3em solid #d4d8d3; 
}


.countdown_notice, .countdown_notice_modal {
background: #202020;
}

/* RED LAST, TO ALWAYS OVERIDE */

.red_background {
background-color: #ff4747 !important;
}

.red_dotted {
padding: 10px;
border: 0.4em dotted #ff4747 !important;
}


.red, #app_error_alert {
color: #ff4747 !important;
}


#sidebar ul.list-unstyled li a.red:link {
color: #ff4747 !important;
}


.sidebar_secondary_link {
    color: white !important;
}


/* //////////////////////////////
IDs
////////////////////////////// */


#watch_only {
border: 0.4em dotted white;
}


#charts_error, #system_charts_error {
border: 0.5em dotted #ff4747;
}


#header_size_warning {
color: #ff4747;
}


#minusBtn {
border: 1px solid #ff4747;
}


#plusBtn {
border: 1px solid #10d602;
}


#admin_nav .dropdown-menu, #sidebar, #collapsed_sidebar {
background: #545353 !important;
border: 3px solid #808080 !important;
color: white !important;
}


#collapsed_sidebar .dropdown-menu {
background: #545353 !important;
border-left: 0px solid #545353 !important;
border-top: 3px solid #808080 !important;
border-right: 3px solid #808080 !important;
border-bottom: 3px solid #808080 !important;
color: white !important;
}


#collapsed_sidebar div.active .dropdown-menu {
background: #686767 !important;
border-left: 0px solid #686767 !important;
}


#sidebar ul.list-unstyled li a:link:not(.red):not(.red_bright):not(.blue):not(.green):not(.green_bright):not(.bitcoin),
#sidebar ul.list-unstyled li a:visited:not(.red):not(.red_bright):not(.blue):not(.green):not(.green_bright):not(.bitcoin),
#sidebar h3, 
#sidebar ul.list-unstyled p,
#sidebar ul p,
#sidebar p
{
color: white !important;
}


#sidebar ul li.sidebar-item a.active,
.user-nav a.active,
.admin-nav a.active,
#sidebar ul li.active a.nav-link.active
{
background-color: #cecccc !important;
color: black !important;
border-radius: 3px !important;
}


#sidebar ul ul a,
#sidebar ul li.active > a,
#collapsed_sidebar div.active,
#sidebar a[aria-expanded="true"]
{
    background: #686767 !important;
}


/* Custom 3-deep (last) sub-menu */
#sidebar_menu .dropdown-menu {
background-color: #3a3a3a !important;
border: 3px solid #808080 !important;
}


/* Custom 3-deep (last) sub-menu */
#sidebar_menu ul.dropdown-menu a,
#sidebar_menu ul.dropdown-menu li.active > a,
#sidebar_menu ul.dropdown-menu a[aria-expanded="true"]
{
    background: #3a3a3a !important;
}


#sidebar ul ul a:hover,
#sidebar ul li.active a:hover,
#sidebar ul li a:hover,
#collapsed_sidebar .dropdown-menu a:hover,
#sidebar ul li.active ul.dropdown-menu a.dropdown-item.secondary-select
{
    background: #777777 !important;
}


/* ---------------------------------------------------
    *COLLAPSED* SIDEBAR STYLE
----------------------------------------------------- */


#collapsed_sidebar .dropdown-menu a {
color: white;
}

/* COMPACT sidebar scrollbar styling */
/* Track */
#collapsed_sidebar::-webkit-scrollbar-track {
  background: #888; 
}
/* Handle */
#collapsed_sidebar::-webkit-scrollbar-thumb {
  background: #f1f1f1; 
}
/* Handle on hover */
#collapsed_sidebar::-webkit-scrollbar-thumb:hover {
  background: #c4c4c4; 
}


/* ---------------------------------------------------
    FORCE OVERRIDE (BY RUNNING AT END OF THIS STYLESHEET)
----------------------------------------------------- */


#sidebar ul li.active a.nav-link.active.disable_click,
#sidebar ul ul a.disable_click,
.disable_click 
{
background: #ce7039 !important;
}



