/*
 * Copyright 2014-2021 GPLv3, Open Crypto Portfolio Tracker by Mike Kilday: http://DragonFrugal.com
 */


/* //////////////////////////////
ELEMENTS
////////////////////////////// */




/* //////////////////////////////
CLASSES
////////////////////////////// */


.tab-content>.active {
background-color: #202020;
color: #fff;
}


.nav-tabs-vertical .nav-link.active {
color: #fff;
background-color: #202020;
text-decoration: none;
}


.nav-tabs-vertical .nav-link {
color: #000;
    background: #909396;
}


/* //////////////////////////////
IDs
////////////////////////////// */

