/*
 * Copyright 2014-2020 GPLv3, DFD Cryptocoin Values by Mike Kilday: http://DragonFrugal.com
 */


/* //////////////////////////////
ELEMENTS
////////////////////////////// */


body {
background-color: #080808;
color: #fff;
}


table, div.tabdiv, .tabs a.active {
background: #202020;
color: white;
}


input, select, textarea {
background-color: #dbd9d9;
}


input[type=submit], input[type=button], .force_button_style {
  border: 1px solid #999999;
  background-color: #42484e;
}


input[readonly] { /* For MSIE */
  background-color: #6f6e6e;
}


input[type=text]:-moz-read-only { /* For Firefox */
  background-color: #6f6e6e;
}


input[type=text]:read-only { 
  background-color: #6f6e6e;
}


a, .black, td.data span, .subsection_legend, .btc_worth, .btc_worth span, td.data div.btc_worth span {
color: white;
}


a:visited {
color: #a09e9e;
}


a:hover {
color: #bcbaba;
}


/* Dark theme drop-downs (in table data only) need dark background too */
td select {
background: #3a3a3a;
}


/* //////////////////////////////
CLASSES
////////////////////////////// */


.result {
border: 2px solid white; 
}


.border_lt {
border-top: 2px solid #808080;
border-left: 2px solid #808080;
}


.border_lrt {
border-top: 2px solid #808080;
border-left: 2px solid #808080;
border-right: 2px solid #808080;
}


.border_lb {
border-bottom: 2px solid #808080;
border-left: 2px solid #808080;
}


.border_lrb {
border-bottom: 2px solid #808080;
border-left: 2px solid #808080;
border-right: 2px solid #808080;
}


.border_t {
border-top: 2px solid #808080;
}


.border_b {
border-bottom: 2px solid #808080;
}


.long_list_odd {
background: #28313a;
}


.long_list_even {
background: #343f49;
}


.red, #app_error_alert {
color: #ff4747 !important;
}


.red_dotted {
padding: 10px;
border: 2px dotted #ff4747 !important;
}


.green {
color: #10d602 !important;
}


.green_dotted {
padding: 10px;
border: 2px dotted #10d602 !important;
}


.orange {
color: #ce7039 !important;
}


.blue, td.blue, td.blue span.blue, td select, .btn-link, .btn-link a, .btn-link:hover {
color: #28b2ed !important;
}


.tabs a {
background: #909396;
color: black;
}


.start_page_menu {
border: 2px dotted white; 
}


.start_page_menu_red {
border: 3px dotted #ff4747; 
}


.activate_chart_sections {
border-top: 2px solid white;
}


.modaal-container {
    color: #fff !important;
    background: #202020 !important;
}


.card-body {
    color: #fff !important;
    background: #4f4f4f !important;
}


.card-header {
    background: #2d2d2d !important;
}


.rounded {
border: 1px solid #d4d8d3; 
}


.image_border {
border: 2px solid #d4d8d3; 
}


/* //////////////////////////////
IDs
////////////////////////////// */


#body_top_nav .navbar-nav .dropdown-menu {
background: #ccc7c7 !important;
border: 2px solid white !important;
}


#body_top_nav .navbar-nav .dropdown-menu a:link, #body_top_nav .navbar-nav .dropdown-menu a:visited {
color: black;
}


#body_top_nav .navbar-nav .dropdown-item:hover {
background-color: #ccc7c7 !important;
color: #666464 !important;
}


#body_top_nav .navbar-nav .dropdown-item.active {
background-color: #606060 !important;
color: white !important;
border-radius: 3px;
}

