/*
 * Copyright 2014-2023 GPLv3, Open Crypto Tracker by Mike Kilday: Mike@DragonFrugal.com
 */


/* //////////////////////////////
ELEMENTS
////////////////////////////// */


body, table, .long_list_even, div.tabdiv {
background-color: #f7f7f7;
color: #000;
}


input, textarea {
background-color: white;
}


select {
background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='black' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .5rem center/8px 10px !important;
background-color: white !important;
}


button:not(.btn-number):not(.footer_banner_button), input[type=submit], input[type=button], .force_button_style {
  background-color: #808080 !important;
}


button:not(.modaal-close):not(.accordion-button):not(.btn-number):not(.footer_banner_button), input[type=submit], input[type=button], .force_button_style {
  border: 0.2em solid black !important;
}


input[readonly] { /* For MSIE */
  background-color: #d1d1d1;
}


input[type=text]:-moz-read-only { /* For Firefox */
  background-color: #d1d1d1;
}


input[type=text]:read-only { 
  background-color: #d1d1d1;
}


input[type=text]:disabled { 
  background-color: #d1d1d1;
  color: black;
}


a, .black, td.data span, .subsection_legend, .crypto_worth, .crypto_worth span, td.data div.crypto_worth span {
color: black;
}


a:visited {
color: #636060;
}


a:hover {
color: #898888;
}


/* //////////////////////////////
CLASSES
////////////////////////////// */


.page_title {
    background: #fff;
    border: 0.17em dotted #dbd9d9 !important;
}


.pw_prompt {
    border: 0.2em solid black;
    background: #777575 !important;
}


.custom-select:disabled { 
  background-color: #d1d1d1 !important;
  color: black !important;
}


/* Light theme drop-downs (in table data only) off white */
td .custom-select {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%231a1696' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .5rem center/8px 10px !important;
background-color: #f7f7f7 !important;
}


.result {
border: 0.3em solid black; 
}


.border_lt {
border-top: 0.17em solid #ccc;
border-left: 0.17em solid #ccc;
}


.border_rt {
border-top: 0.17em solid #ccc;
border-right: 0.17em solid #ccc;
}


.border_lrt {
border-top: 0.17em solid #ccc;
border-left: 0.17em solid #ccc;
border-right: 0.17em solid #ccc;
}


.border_lb {
border-bottom: 0.17em solid #ccc;
border-left: 0.17em solid #ccc;
}


.border_rb {
border-bottom: 0.17em solid #ccc;
border-right: 0.17em solid #ccc;
}


.border_lrb {
border-bottom: 0.17em solid #ccc;
border-left: 0.17em solid #ccc;
border-right: 0.17em solid #ccc;
}


.border_t {
border-top: 0.17em solid #ccc;
}


.border_b {
border-bottom: 0.17em solid #ccc;
}


.long_list_odd {
background: #d6d4d4;
}


.list_start_black {
border-bottom: 0.2em solid black;
}


.list_end_black {
border-top: 0.2em solid black;
}


.green {
color: #066000 !important;
}


.green_dotted {
padding: 10px;
border: 0.4em dotted #066000 !important;
}


.orange {
color: #ea6b1c !important;
}


.blue, td.blue, td.blue span.blue, td select, .btn-link, .btn-link a, .btn-link:hover, #sidebar ul.list-unstyled li a.blue:link {
color: #1a1696 !important;
}


.start_page_menu_red {
border: 0.2em dotted #D61F00; 
}


.activate_chart_sections {
border-top: 0.3em solid black;
}


.modaal-container {
    color: #000 !important;
    background: #ffffff !important;
}


.accordion-item {
    color: #000 !important;
    background: #fff !important;
}


.accordion-button {
    background: #848484 !important;
}


.accordion-button:not(.collapsed) {
    background: #69787f !important;
}


.rounded {
border: 0.2em solid #606060; 
}


.image_border {
border: 0.3em solid #606060; 
}


.countdown_notice, .countdown_notice_modal {
background: #f7f7f7;
}


/*  OVERRIDE BLACK IN BALLON TOOLTIPS ELEMENTS (WE NEED IT LIGHTER FOR GOOD UX) */
.balloon-tooltips a, .balloon-tooltips .black {
color: white !important;
}


/*  OVERRIDE BLUE IN BALLON TOOLTIPS ELEMENTS (WE NEED IT LIGHTER FOR GOOD UX) */
.balloon-tooltips .blue {
color: #28b2ed !important;
}


/* RED LAST, TO ALWAYS OVERIDE */

.red_background {
background-color: #D61F00 !important;
}

.red_dotted {
padding: 10px;
border: 0.4em dotted #D61F00 !important;
}


.red, #app_error_alert {
color: #D61F00 !important;
}


.sidebar_secondary_link {
    color: black !important;
}


/* //////////////////////////////
IDs
////////////////////////////// */


#watch_only {
border: 0.4em dotted black;
}


#charts_error, #system_charts_error {
border: 0.5em dotted #D61F00;
}


#header_size_warning {
color: #D61F00;
}


#minusBtn {
border: 1px solid #D61F00;
}


#plusBtn {
border: 1px solid #066000;
}


#admin_nav .dropdown-menu, #sidebar, #collapsed_sidebar {
background: #ccc7c7 !important;
border: 3px solid #808080 !important;
color: black !important;
}


#collapsed_sidebar .dropdown-menu {
background: #ccc7c7 !important;
border-left: 0px solid #ccc7c7 !important;
border-top: 3px solid #808080 !important;
border-right: 3px solid #808080 !important;
border-bottom: 3px solid #808080 !important;
color: black !important;
}


#collapsed_sidebar div.active .dropdown-menu {
background: #bcafaf !important;
border-left: 0px solid #bcafaf !important;
}


#sidebar ul.list-unstyled li a:link,
#sidebar ul.list-unstyled li a:visited,
#sidebar h3, 
#sidebar ul.list-unstyled p,
#sidebar ul p,
#sidebar p
{
color: black !important;
}


#sidebar ul li.sidebar-item a.active,
.user-nav a.active,
.admin-nav a.active,
#sidebar ul li.active a.nav-link.active
{
background-color: #606060 !important;
color: white !important;
border-radius: 3px !important;
}


#sidebar ul ul a,
#sidebar ul li.active > a,
#collapsed_sidebar div.active,
#sidebar a[aria-expanded="true"]
{
    background: #bcafaf !important;
}


/* Custom 3-deep (last) sub-menu */
#sidebar_menu .dropdown-menu {
background-color: #d3d3d3 !important;
border: 3px solid #808080 !important;
}


/* Custom 3-deep (last) sub-menu */
#sidebar_menu ul.dropdown-menu a,
#sidebar_menu ul.dropdown-menu li.active > a,
#sidebar_menu ul.dropdown-menu a[aria-expanded="true"]
{
    background: #d3d3d3 !important;
}


#sidebar ul ul a:hover,
#sidebar ul li.active a:hover,
#sidebar ul li a:hover,
#collapsed_sidebar .dropdown-menu a:hover,
#sidebar ul li.active ul.dropdown-menu a.dropdown-item.secondary-select
{
    background: #aaa2a2 !important;
}


/* ---------------------------------------------------
    *COLLAPSED* SIDEBAR STYLE
----------------------------------------------------- */


#collapsed_sidebar .dropdown-menu a {
color: black;
}

/* COMPACT sidebar scrollbar styling */
/* Track */
#collapsed_sidebar::-webkit-scrollbar-track {
  background: #e8e3e3; 
}
/* Handle */
#collapsed_sidebar::-webkit-scrollbar-thumb {
  background: #141414; 
}
/* Handle on hover */
#collapsed_sidebar::-webkit-scrollbar-thumb:hover {
  background: #6d6d6d; 
}



/* ---------------------------------------------------
    FORCE OVERRIDE (BY RUNNING AT END OF THIS STYLESHEET)
----------------------------------------------------- */


#sidebar ul li.active a.nav-link.active.disable_click,
#sidebar ul ul a.disable_click,
.disable_click 
{
background: #ea6b1c !important;
}




