/*
 * Copyright 2014-2023 GPLv3, Open Crypto Tracker by Mike Kilday: Mike@DragonFrugal.com
 */


/* //////////////////////////////
ELEMENTS
////////////////////////////// */




/* //////////////////////////////
CLASSES
////////////////////////////// */


.tab-content>.active, .iframe_wrapper {
color: #000;
}


.nav-tabs-vertical .nav-link.active {
color: #000;
background-color: #fff;
text-decoration: none;
}


.nav-tabs-vertical .nav-link {
color: #fff;
background: #808080;
}


/* //////////////////////////////
IDs
////////////////////////////// */

