/*
 * Copyright 2014-2023 GPLv3, Open Crypto Tracker by Mike Kilday: Mike@DragonFrugal.com
 */


/* //////////////////////////////
ELEMENTS
////////////////////////////// */


html {
width: auto;
margin: auto;
padding: 0px;
}


body {
margin: 0px;
width: auto;
}


table {
border-collapse: separate;
}


td {
margin: 0px;
padding: 4px;
white-space: nowrap;
vertical-align: middle !important;
line-height: 1.15 !important;
}

th {
padding-right: 28px;
}


img { 
border: 0; 
}


a {
text-decoration: underline;
}


p, h3 { 
word-break: normal;
margin-bottom: 15px;
}


select {
appearance: none !important;  /* for hiding default arrow */
line-height: 15px !important;
height: 25px !important;
min-width: 95px !important;
padding: .07rem 1.4rem .07rem .5rem !important;
}


textarea {
box-sizing: border-box;
resize: none;
border: 1px solid #808080;
}


textarea[data-autoresize] {
	border: 1px solid #808080;
	width:100%;
	box-sizing:border-box;
	display:block;
	max-width:100%;
	line-height: 1 !important;
	padding: 10px 10px 10px;
	border-radius: 8px;
	transition:box-shadow 0.5s ease;
	box-shadow:0 4px 6px rgba(0,0,0,0.1);
	font-smoothing:subpixel-antialiased;
	background:linear-gradient(#e5e3e3, #f2f2f2);
	background:-o-linear-gradient(#e5e3e3, #f2f2f2);
	background:-ms-linear-gradient(#e5e3e3, #f2f2f2);
	background:-moz-linear-gradient(#e5e3e3, #f2f2f2);
	background:-webkit-linear-gradient(#e5e3e3, #f2f2f2);
	overflow: auto;
	overflow-y: scroll;
}


input, select, textarea {
border: 1px solid #808080 !important;
}


input[type=text], input[type=select] {
border-radius: .25rem !important;
}


input[type=checkbox], input[type=radio] {
position: relative;
top: 3px;
width: 15px !important;
height: 15px !important;    
}


button, input[type=submit], input[type=button], .force_button_style {
  color: white;
  padding: 5px 10px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 6px;
}


fieldset {
    width: auto;
    padding: 25px; /* To give a bit of padding on the left and right */
  border-radius: 8px;
}

legend {
    float: none !important;
    width:auto;
    padding: 6px 6px !important; /* To give a bit of padding on the left and right */
    border-bottom:none;
    margin-bottom: 0px;
}


/* MAKE PRE TAGS WRAP */
pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
background-color: #f0f0f0;
margin: 0px;
padding: .5em !important;
}


code {
padding: 0em !important;
margin: 0px;
}


/* //////////////////////////////
CLASSES
////////////////////////////// */


.page_title {
text-transform: uppercase;
writing-mode: vertical-lr;
text-orientation: upright;
white-space: nowrap;
    text-align: center;
    display: inline;
    position: absolute;
    margin: 0px;
    margin-top: 3px;
    left: 3px;
    z-index: 2;
    border-radius: 9px;
    padding: 0px;
}


.alert-warning {
margin: 15px !important;
}


.alert-warning div {
margin: 25px !important;
}



.disable_click{
pointer-events: none !important;
}


.pw_prompt {
    position: fixed;
  text-align: center;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    padding: 15px;
    width: 330px;
    z-index: 99999;
    border-radius: 5px;
}


.pw_prompt label {
    display:block; 
    margin-bottom:5px;
}


.pw_prompt input {
    margin-bottom:10px;
}


.pw_prompt button {    
margin-left: 5px;
}


.alert-warning a {
color: black !important; /* Force black a href in bootstrap warning modal (our upgrade alerts, etc) */
}


.chart_reload_msg {
display: inline;
}


.disclaimer {
margin-top: 25px;
margin-bottom: 25px;
}


.hide-x-scroll {
overflow-x: hidden !important; /* Hide horizontal scrollbar */
}


.random_tip a {
color: #dd7c0d !important;
text-decoration-style: dotted;
}


.captcha_container {
margin-top: 25px;
margin-top: 25px;
text-align: left;
display: inline-block;
}


.captcha_container label {
padding-top: 15px;
}


.captcha_container img {    
display: inline-block;
margin: 7px;
}


.card {
border: 1px solid #808080 !important;
}


.chart_wrapper {
position: relative;
border-radius: 8px;
}


.chart_wrapper span.chart_loading {
font-weight: bold;
font-size: 21px;
line-height: 26px;
}


.clear_both {
clear: both;
}


.align_left {
text-align: left;
}


.align_center {
text-align: center;
}


.align_right {
text-align: right;
}


.rounded {
border-radius: 8px;
}


.image_border {
border-radius: 15px;
}


.al_right {
text-align: right;
}


.al_right span {
padding-right: 5px;
}


.extra_margins {
padding: 5px;
}


.result {
margin: 7px; 
padding: 7px;
}
    
    
.normal {
font-weight: normal;
}


.coin_info {
margin: 13px;
white-space: nowrap;
}


.balloon_notation {
white-space: normal; 
margin-top: 15px;
}


.show_asset_vals {
display: none;
position: relative;
float: left;
}

.border_t {
padding-right: 25px;
}


.bold_1 {
font-weight: bold;
padding: 5px;
line-height: 25px;
}


.start_page_menu {
padding: 5px;
}


.start_page_menu_red {
padding: 8px;
}


.subsection_fieldset {
border: 1px solid #808080;
margin: 25px;
margin-bottom: 50px;
}


.help_section {
border: 1px solid #808080;
padding: 15px;
margin: 10px;
margin-bottom: 50px;
}


.links_list {
font-weight: bold;
margin: 20px;
}


.links_list span {
font-weight: normal;
}


.long_linebreak { 
display: inline-block;
max-width: 258px;
white-space: normal;
word-wrap: break-word;
text-align: center;
}


.settings_sections {
margin: 25px;
}


.long_list {
padding: 15px;
margin: 0px;
}


.long_list_taller {
padding: 20px;
margin: 0px;
}


.long_list_start {
margin-top: 10px;
}


.long_list_end {
margin-bottom: 10px;
}


.green_bright, .balloon-tooltips .green {
color: #10d602 !important;
}


.red_bright, .balloon-tooltips .red {
color: #ff4747 !important;
}


.yellow {
color: #ffb83f !important;
}


.bitcoin, .btc {
color: #dd7c0d !important;
}


.bitcoin_dotted {
padding: 10px;
border: 3px dotted #dd7c0d !important;
}


.eth {
color: #939cbc !important;
}


.tooltip_title {
position: relative; 
white-space: nowrap; 
text-align:center;
}


.portfolio_summary {
margin-top: 2px;
margin-bottom: 2px;
}


div.tabdiv {
min-height: 150px;
display: none;
min-width: 100%;
border-collapse: separate !important;
}


td.data span {
white-space: nowrap;
}


.extra_data, td.data span.extra_data, td.data div.extra_data span, .extra_data span, td.data div.extra_data span {
margin: 0px;
padding: 0px;
border: 0px;
background: none;
white-space: nowrap;
}


.gain, td.data span.gain, td.data div.gain span, .crypto_worth, .crypto_worth span, td.data div.crypto_worth span {
margin: 0px;
padding: 0px;
border: 0px;
background: none;
white-space: nowrap;
}


.loss, td.data span.loss, td.data div.loss span, .short, td.data span.short, td.data div.short span {
margin: 0px;
padding: 0px;
color: #af1700; /* slightly darker red than normal */
border: 0px;
background: none;
white-space: nowrap;
}


.btn-link, .btn-link a, .btn-link:hover {
font-weight: 800;
text-decoration: none;
}


.full_width_wrapper {
position: relative;
width: 100%;
padding-left: 60px;
padding-right: 18px;
}


.countdown_notice {
display: inline;
float: right;
position: absolute; /* To set top / right below, AND backwards compatibility (if browser doesn't support 'sticky') */
top: 0px;
right: 5px;
z-index: 5;
border-radius: 5px;
padding: 2px;
}


.countdown_notice_modal {
display: inline;
float: right;
position: absolute; /* To set top / right below, AND backwards compatibility (if browser doesn't support 'sticky') */
top: 0px;
right: 5px;
z-index: 5;
position: sticky;
position: -webkit-sticky;
border-radius: 5px;
padding: 2px;
}


.start_page_menu {
padding: 8px;
}


.loading {
width: 100%; 
font-weight: bold;
background-color: #5b5b5b;
opacity: 0.75;
border: 3px dotted #dd7c0d;
border-radius: 30px;
padding: 5px;
margin: auto;
margin-top: 21px;
margin-bottom: 21px;
}


.absolute_centered {
position: absolute;
left: 0;
right: 0;
margin-left: auto;
margin-right: auto;
}


.chart_reload {
top: 150px !important;
position: absolute !important;
}


.underline_pointer {
text-decoration: underline;
cursor: pointer;
}


.pointer {
cursor: pointer;
}


.sys_stats {
margin-top: 5px;
}


div.modaal-wrapper.modaal-fullscreen div.modaal-content-container fieldset.subsection_fieldset {
min-width: 1150px !important;
}


.obfuscated {    
    display: none !important;
    line-height: 0px !important;
    min-width: 0px !important;
    width: 0px !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
}


.admin_login_alerts {
display: inline-block;
font-weight: bold;
padding: 15px;
margin: 15px;
font-size: 21px; 
}


.bitcoin_dotted, .green_dotted, .red_dotted, .start_page_menu, .start_page_menu_red, #watch_only, #charts_error, #system_charts_error, .admin_login_alerts {
border-radius: 6px !important;
}


.sidebar_secondary_link {
    text-decoration: underline !important;
}


.portfolio_footer {
     text-align: left;
     margin: auto;
margin-top: 30px !important;
}


/* //////////////////////////////
IDs
////////////////////////////// */


#pm_link_icon_div {
background: #dd7c0d;
}


#primary_wrapper.wrapper {
    display: flex;
    width: 100%;
}


#content_wrapper {
display: none;
margin: 0px; 
}


#secondary_wrapper {
    position: absolute;
     margin: auto;
    min-height: 100vh;
     padding: 20px;
     padding-top: 10px;
    transition: all 0.3s;
    width: calc(100% - 258px);
    left: 258px !important;
}


#secondary_wrapper.active {
    width: calc(100% - 60px);
    left: 60px !important;
}


#watch_only {
display: inline-block; 
padding: 7px; 
margin-left: 0px; 
margin-top: 15px; 
margin-bottom: 15px;
}


#pm_link {
font-weight: bold;
text-decoration: underline;
cursor: pointer;
margin-right: 6px;
}


#background_loading, .chart_reload {
position: relative;
display: none;
padding: 6px;
width: 90%;
font-size: 21px;
min-height: 23px; 
margin: auto;
margin-top: 3px;
margin-bottom: 13px;
z-index: 3;
}


#app_loading {
display: block;
padding: 13px;
width: 90%; 
white-space: nowrap;
font-size: 60px;
margin: auto;
}


#admin_conf_quick_links {
display: none;
position: relative;
float: right;
max-width: 30%;
margin: 0px;
margin-right: 5px !important;
}


#admin_conf_quick_links fieldset {
padding-top: 0px;
padding-bottom: 12px;
padding-left: 18px;
padding-right: 18px;
border: 1px solid #dd7c0d; 
}


#admin_conf_quick_links fieldset legend {
padding: 4px;
}


#charts_error, #system_charts_error {
display: none;
font-weight: bold;
padding: 9px;
margin: 20px;
}


#file_upload {
color: black;
}


#coins_table {
position: relative;
}


#coins_table td:last-child {
}


#app_error_alert {
font-weight: bold; 
padding: 6px;
}


#navbarSupportedContent {
display: inline-flex !important;
}


#alert_bell_area {
position:relative;
z-index: 9999999;
    width: calc(100% - 30px);
    text-align: left;
    min-height: 45px;
    margin: 15px;
    padding: 15px;
font-weight: bold; 
line-height: 35px;
white-space: normal;
word-wrap: break-word;
background: #ededa6 !important;
border: 2px solid #dd7c0d !important; 
border-radius: 6px;
color: #ff4747;
}


#prim_currency_mrkts_alert, #percent_change_alert_type_alert, #sorting_alert {
display: none;
font-weight: bold;
margin: 20px;
}


#coins_table{
table-layout:fixed;
}


#header_size_warning {
position: absolute;
    top: 3px;
    left: 5px;
    font-weight: bold;
    max-width: 90vw;
}


#change_font_size {
position: absolute;
    top: 3px;
    right: 5px;
    font-weight: bold;
    z-index: 999999999;
}


#minusBtn {
padding-left: 5px;
padding-right: 5px;
cursor: pointer;
}


#plusBtn {
padding-left: 5px;
padding-right: 5px;
cursor: pointer;
}


#alert_source, #percent_change_amnt, #percent_change_filter, #percent_change_time, #percent_change_alert_type, #show_chart_settings, #show_feed_settings, #show_portfolio_stats, #show_help_faq, #show_system_stats, #show_access_stats, #show_logs, #coins_table, #sys_stats_quick_link_info, .sys_stats_admin_link_info, #header_size_warning, .hidden {
display: none !important;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */


#sidebar_hamburger {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}


#sidebar {
    width: 258px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    transition: all 0.3s;
}


#sidebar.active {
    margin-left: -258px;
}


#sidebar #sb_alerts {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    position: absolute;
    top: 13px;
    left: 8px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}


#sidebar .plus_minus {
  margin-top: 18px;
  margin-left: 64px;
  margin-right: 0px;
  margin-bottom: 0px;
}


#sidebar .plus_minus_buttons {
    position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


#sidebar label.pl_mn_lab {
color: red;
transform: scale(.85) translateY(0rem) translateX(0.5rem);
padding: 0rem;
}


#sidebar #quant_font_percent {
height: calc(1.5rem + calc(var(--bs-border-width) * 2));
    padding-left: 0.5rem;
}


#sidebar #dismiss {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    position: absolute;
    top: 14px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}


#sidebar .sidebar-header {
     position: relative;
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 0px;
    margin: auto;
}


#sidebar .sidebar-header p {
     position: relative;
     padding-top: 0px;
     margin-top: 0px;
    margin-bottom: 10px;
}


#sidebar .sidebar-slogan {
     position: relative;
    padding-top: 5px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 0px;
    margin: auto;
    font-size: 13px !important;
}


#sidebar ul.components {
    padding: 20px 0;
}


#sidebar .line {
    width: 100%;
    height: 1px;
    margin: 40px 0;
}


#sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}


/* Custom 3-deep (last) sub-menu */
#sidebar_menu .dropdown-menu {
left: 4px !important;
min-width: 242px;
max-width: 242px;
}


#sidebar ul.CTAs {
    padding: 20px;
}


#sidebar ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}


#sidebar a,
#sidebar a:hover,
#sidebar a:focus {
    font-weight: bold !important;
    text-decoration: none;
    transition: all 0.3s;
}


#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}


#sidebar a[data-bs-toggle="collapse"] {
    position: relative;
}


#sidebar ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}


@media (max-width: 768px) {
     
    #sidebar {
        margin-left: -258px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    
    
    #secondary_wrapper {
        width: calc(100% - 60px);
        left: 60px !important;
    }
    #secondary_wrapper.active {
        width: calc(100% - 258px);
        left: 258px !important;
    }
    
    
    #sidebarCollapse span {
        display: none;
    }
    
    
}


/* ---------------------------------------------------
    *COLLAPSED* SIDEBAR STYLE
----------------------------------------------------- */


#collapsed_sidebar {
position: fixed; 
text-align: center;
top: 0px; 
left: 0px; 
z-index: 5;
padding-bottom: 25px;
height: 100%;
}


#collapsed_sidebar img {
display: block;
cursor: pointer; 
width: 45px;
height: 45px;
}


#collapsed_sidebar div
{
padding: 5px;
}


#collapsed_sidebar .smallnav_spacer
{
min-height: 9px;
}


#collapsed_sidebar .dropdown-menu {
top: 0px !important;
left: 3px !important; 
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
}


#collapsed_sidebar div.active .dropdown-menu {
top: -8px !important;
}


#collapsed_sidebar .btn-group {
display: flex !important;
border-radius: 0px !important;
}


/* Remove caret icon from drop-down menu items */
#collapsed_sidebar .dropdown-toggle::after {
 display: none !important;
}




