/*
 * Copyright 2014-2023 GPLv3, Open Crypto Tracker by Mike Kilday: Mike@DragonFrugal.com
 */


/* //////////////////////////////
ELEMENTS
////////////////////////////// */


html {
width: auto;
margin: auto;
padding: 0px;
}


body {
margin: 0px;
width: auto;
font-weight: 400 !important;
}


table {
border-collapse: separate;
}


img { 
border: 0; 
}


a {
text-decoration: underline;
}


p, h1, h2, h3, h4, h5, h6 { 
word-break: normal;
}


select {
-webkit-appearance: none !important;  /* for hiding default arrow...use webkit version for compatibility with desktop editions */
padding: .07rem 1.4rem .07rem .5rem !important;
}


td .custom-select {
min-width: 100% !important;
}


textarea {
box-sizing: border-box;
resize: none;
border: 0.2em solid #808080;
}


textarea[data-autoresize] {
	border: 0.2em solid #808080;
	width:100%;
	box-sizing:border-box;
	display:block;
	max-width:100%;
	line-height: 1 !important;
	padding: 10px 10px 10px;
	border-radius: 8px;
	transition:box-shadow 0.5s ease;
	box-shadow:0 4px 6px rgba(0,0,0,0.1);
	font-smoothing:subpixel-antialiased;
	background:linear-gradient(#e5e3e3, #f2f2f2);
	background:-o-linear-gradient(#e5e3e3, #f2f2f2);
	background:-ms-linear-gradient(#e5e3e3, #f2f2f2);
	background:-moz-linear-gradient(#e5e3e3, #f2f2f2);
	background:-webkit-linear-gradient(#e5e3e3, #f2f2f2);
	overflow: auto;
	overflow-y: scroll;
}


input, select, textarea {
border: 0.15em solid #808080 !important;
border-radius: .25rem !important;
line-height: 1.3em !important;
}


input[type=checkbox], input[type=radio] {
position: relative;
top: 3px;
width: 1em !important;
height: 1em !important;    
}


button, input[type=submit], input[type=button], .force_button_style {
  color: white !important;
  padding: 5px 10px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  cursor: pointer !important;
  border-radius: 6px !important;
}


fieldset {
    width: auto;
    padding: 25px; /* To give a bit of padding on the left and right */
  border-radius: 8px;
}


legend {
    float: none !important;
    width:auto;
    padding: 6px 6px !important; /* To give a bit of padding on the left and right */
    border-bottom:none;
    margin-bottom: 0px;
}


/* MAKE PRE TAGS WRAP */
pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
background-color: #f0f0f0;
margin: 0px;
padding: .5em !important;
}


code {
padding: 0em !important;
margin: 0px;
}


/* //////////////////////////////
CLASSES
////////////////////////////// */


.page_title {
text-transform: uppercase;
writing-mode: vertical-lr;
text-orientation: upright;
white-space: nowrap;
    text-align: center;
    display: inline;
    position: absolute;
    margin: 0px;
    margin-top: 3px;
    left: 3px;
    z-index: 2;
    border-radius: 0.3em;
    padding: 0px;
}


.alert-warning {
margin: 15px !important;
z-index: 999999999 !important;
}


.alert-warning div {
margin: 25px !important;
}



.disable_click{
pointer-events: none !important;
}


.pw_prompt {
    position: fixed;
  text-align: center;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    padding: 1.6em;
    width: 330px;
    z-index: 99999;
    border-radius: 0.6em;
}


.pw_prompt label {
    display:block; 
    margin-bottom: 0.6em;
}


.pw_prompt input {
    margin-bottom: 1.1em;
}


.pw_prompt button {    
margin-left: 0.6em;
}


.pw_prompt .close_prompt {
position: absolute;
top: 0.15em;
right: 0.25em;
font-weight: bold;
cursor: pointer;
}


.alert-warning a {
color: black !important; /* Force black a href in bootstrap warning modal (our upgrade alerts, etc) */
}


.chart_reload_msg {
display: inline;
}


.disclaimer {
margin-top: 25px;
margin-bottom: 25px;
}


.hide-x-scroll {
overflow-x: hidden !important; /* Hide horizontal scrollbar */
}


.random_tip a {
color: #F7931A !important;
text-decoration-style: dotted;
}


.captcha_container {
margin-top: 25px;
margin-top: 25px;
text-align: left;
display: inline-block;
}


.captcha_container label {
padding-top: 15px;
}


.captcha_container img {    
display: inline-block;
margin: 7px;
}


.card {
border: 0.2em solid #808080 !important;
}


.chart_wrapper {
position: relative;
border-radius: 0.9em;
}


.chart_wrapper span.chart_loading {
font-weight: bold;
font-size: 2.0em;
line-height: 2.5em;
}


.clear_both {
clear: both;
}


.align_left {
text-align: left;
}


.align_center {
text-align: center;
}


.align_right {
text-align: right;
}


.rounded {
border-radius: 0.9em;
}


.image_border {
border-radius: 1.6em;
margin: 2em;
}


.al_right {
text-align: right;
}


.al_right span {
padding-right: 0.6em;
}


.extra_margins {
padding: 0.6em;
}


.result {
margin: 0.8em; 
padding: 0.8em;
}
    
    
.normal {
font-weight: normal;
}


.coin_info {
white-space: nowrap;
}


.balloon-tooltips {
max-width: 800px;
}


.balloon_notation {
white-space: normal; 
margin-top: 1.6em;
}


.show_asset_vals {
display: none;
position: relative;
float: left;
}

.border_t {
padding-right: 2.6em;
}


.bold_1 {
font-weight: bold;
padding: 0.6em;
line-height: 2.6em;
}


.start_page_menu_red {
padding: 0.4em !important;
}


.subsection_fieldset {
border: 0.2em solid #808080;
margin-bottom: 5.1em;
}


.help_section {
border: 0.2em solid #808080;
padding: 1.6em;
margin: 1.1em;
margin-bottom: 5.1em;
}


.links_list {
font-weight: bold;
margin: 2.1em;
}


.links_list span {
font-weight: normal;
}


.long_linebreak { 
display: inline-block;
max-width: 258px;
white-space: normal;
word-wrap: break-word;
text-align: center;
}


.settings_sections {
margin: 2.6em;
}


.long_list {
padding: 1.6em;
margin: 0px;
}


.long_list_taller {
padding: 2.1em;
margin: 0px;
}


.long_list_start {
margin-top: 1.1em;
}


.long_list_end {
margin-bottom: 1.1em;
}


.green_bright, .balloon-tooltips .green {
color: #10d602 !important;
}


.red_bright, .balloon-tooltips .red {
color: #ff4747 !important;
}


.yellow {
color: #ffb83f !important;
}


.bitcoin, .btc, #sidebar ul.list-unstyled li a.bitcoin:link {
color: #F7931A !important;
}


.bitcoin_dotted {
padding: 1.1em;
border: 0.4em dotted #F7931A !important;
}


.btc {
  background: -webkit-linear-gradient(#f27e02, #edb678);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.eth {
  background: -webkit-linear-gradient(#4c4b4b, #9e9c9c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.sol {
  background: -webkit-linear-gradient(#16E9AC, #CF2CFA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.tooltip_title {
position: relative; 
white-space: nowrap; 
text-align:center;
}


.portfolio_summary {
margin: 0em;
padding: 0em;
}


img.tooltip_style_control {
height: 1em !important;
}


div.tabdiv {
padding-top: 10px;
padding-left: 30px;
padding-right: 9px;
min-height: 150px;
display: none;
min-width: 100%;
border-collapse: separate !important;
}


td.data span {
white-space: nowrap;
}


.extra_data, td.data span.extra_data, td.data div.extra_data span, .extra_data span, td.data div.extra_data span, .gain, td.data span.gain, td.data div.gain span, .crypto_worth, .crypto_worth span, td.data div.crypto_worth span, .loss, td.data span.loss, td.data div.loss span, .short, td.data span.short, td.data div.short span {
margin: 0px;
padding: 0px;
border: 0px;
background: none;
white-space: nowrap;
}


.loss, td.data span.loss, td.data div.loss span, .short, td.data span.short, td.data div.short span {
color: #af1700; /* slightly darker red than normal */
}


.btn-link, .btn-link a, .btn-link:hover {
font-weight: 800;
text-decoration: none;
}


.full_width_wrapper {
position: relative;
width: 100%;
padding-left: 30px;
padding-right: 9px;
}


.countdown_notice {
display: inline;
float: right;
position: absolute; /* To set top / right below, AND backwards compatibility (if browser doesn't support 'sticky') */
top: -0.3em;
right: 0.1em;
z-index: 5;
border-radius: 0.6em;
padding: 0.3em;
}


.countdown_notice_modal {
display: inline;
float: right;
position: absolute; /* To set top / right below, AND backwards compatibility (if browser doesn't support 'sticky') */
top: 0px;
right: 0.6em;
z-index: 5;
position: sticky;
position: -webkit-sticky;
border-radius: 5px;
padding: 0.3em;
font-weight: bold;
}


.loading {
width: 100%; 
font-weight: bold;
background-color: #5b5b5b;
opacity: 0.75;
border: 0.2em dotted #F7931A;
border-radius: 30px;
padding: 5px;
margin: auto;
margin-top: 21px;
margin-bottom: 21px;
}


.absolute_centered {
position: absolute;
left: 0;
right: 0;
margin-left: auto;
margin-right: auto;
}


.chart_reload {
top: 150px !important;
position: absolute !important;
}


.underline_pointer {
text-decoration: underline;
cursor: pointer;
}


.pointer {
cursor: pointer;
}


.sys_stats {
margin-top: 0.6em;
}


div.modaal-wrapper.modaal-fullscreen div.modaal-content-container fieldset.subsection_fieldset {
min-width: 1150px !important;
}


.obfuscated {    
    display: none !important;
    line-height: 0px !important;
    max-width: 0px !important;
    max-height: 0px !important;
    width: 0px !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
}


.admin_login_alerts {
display: inline-block;
font-weight: bold;
padding: 15px;
margin: 1.6em;
font-size: 2.2em; 
}


.bitcoin_dotted, .green_dotted, .red_dotted, .start_page_menu_red, #watch_only, #charts_error, #system_charts_error, .admin_login_alerts {
border-radius: 0.7em !important;
}


.sidebar_secondary_link {
text-decoration: underline !important;
}


.portfolio_footer {
text-align: left;
margin: auto;
margin-top: 1.1em !important;
}


/*  https://jsfiddle.net/TheAL/ednxgwrj/  */
.footer_banner {
    font-size: 1.6em !important;   
    font-weight: 400 !important;
    line-height: 3.1em !important;
    padding: 0.6em 0em !important;
    position: fixed;
    bottom: 0;
    left: 0;
    display: none;
    width: 100% !important;
    text-align: center !important;
    color: #000 !important;
    background: #efc551 !important;
    z-index: 9999 !important;
}
.footer_banner a:link, .footer_banner a:visited, .footer_banner a:hover, .footer_banner a:active {
    color: black !important;
}
.footer_banner_button {
    background: none !important;
    padding: 0 !important;
    border: none !important;
    display: block !important;
    line-height: 1.3em;
    margin: auto;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    padding: 0.6em !important;
    color: #000 !important;
    background: #b9ff35 !important;
}
.footer_banner_button:hover {
    text-decoration: underline !important;
    cursor: pointer !important;
}


/* //////////////////////////////
IDs
////////////////////////////// */


#coins_table th, #coins_table  td.data {
margin: 0px !important;
padding-top: 0.2em !important;
padding-bottom: 0.2em !important;
padding-left: 0.2em !important;
padding-right: 1.05em !important;   
white-space: nowrap !important;
vertical-align: middle !important;
line-height: 1em !important;
}


#coins_table thead tr th.border_lt:first-child {
border-top-left-radius: 0.6em;
}


#coins_table thead tr th.border_rt:last-child {
border-top-right-radius: 0.6em;
}


#coins_table tbody tr:last-child td.border_lb:first-child {
border-bottom-left-radius: 0.6em;
}


#coins_table tbody tr:last-child td.border_rb:last-child {
border-bottom-right-radius: 0.6em;
}


#coins_table select {
border: 0.1em solid #808080 !important;
}


#pm_link_icon_div {
background: #F7931A;
}


#primary_wrapper.wrapper {
    display: flex;
    width: 100%;
}


#content_wrapper {
display: none;
margin: 0px; 
}


#secondary_wrapper {
    position: absolute;
     margin: auto;
    min-height: 100vh;
     padding: 20px;
     padding-top: 0px;
    transition: all 0.3s;
    width: calc(100% - 258px);
    left: 258px !important;
}


#secondary_wrapper.active {
    width: calc(100% - 60px);
    left: 60px !important;
}


#secondary_wrapper ul > li, .iframe_wrapper ul > li, .modaal-content-container ul > li  {
margin: 1.1em;
}


#watch_only {
display: inline-block; 
padding: 0.8em; 
margin-left: 0px; 
margin-top: 1.6em; 
margin-bottom: 1.6em;
}


#pm_link, #pm_link3 {
text-decoration: underline;
cursor: pointer;
}


#background_loading, .chart_reload {
position: relative;
display: none;
padding: 0.7em;
width: 90%;
font-size: 2.5em;
font-weight: bold !important;
min-height: 2.6em; 
margin: auto;
margin-top: 10px;
margin-bottom: 0px;
z-index: 3;
}


#app_loading {
display: block;
padding: 0.1em;
width: 90%; 
white-space: nowrap;
font-size: 1.5em;
margin: auto;
margin-top: 20px;
margin-bottom: 0px;
}


#admin_conf_quick_links {
display: none;
position: relative;
float: right;
max-width: 30%;
margin: 0px;
margin-right: 0.6em !important;
}


#admin_conf_quick_links fieldset {
padding-top: 0px;
padding-bottom: 1.3em;
padding-left: 1.9em;
padding-right: 1.9em;
border: 0.2em solid #F7931A; 
}


#admin_conf_quick_links fieldset legend {
padding: 0.5em;
}


#charts_error, #system_charts_error {
display: none;
font-weight: bold;
padding: 9px;
margin: 2.1em;
}


#file_upload {
color: black;
}


#coins_table {
position: relative;
}


#coins_table td:last-child {
}


#app_error_alert {
font-weight: bold; 
padding: 0.7em;
}


#navbarSupportedContent {
display: inline-flex !important;
}


#alert_bell_area {
position:relative;
z-index: 9999999;
    width: calc(100% - 30px);
    text-align: left;
    min-height: 45px;
    margin: 0.8em;
    padding: 1em;
font-weight: bold; 
line-height: 3.6em;
white-space: normal;
word-wrap: break-word;
background: #ededa6 !important;
border: 0.3em solid #F7931A !important; 
border-radius: 0.7em;
color: #ff4747;
}


#prim_currency_mrkts_alert, #percent_change_alert_type_alert, #sorting_alert {
display: none;
font-weight: bold;
margin: 2.1em;
}


#coins_table{
table-layout:fixed;
}


#header_size_warning {
position: absolute;
    top: 0.4em;
    left: 0.6em;
    font-weight: bold;
    max-width: 90vw;
}


#minusBtn {
padding-left: 5px;
padding-right: 5px;
cursor: pointer;
}


#plusBtn {
padding-left: 5px;
padding-right: 5px;
cursor: pointer;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */


/* Scrollbar width for REGULAR sidebar */
.mCSB_dragger_bar{
    width:13px!important;
 }
 .mCSB_draggerRail{
    width:13px!important;
}


#sidebar_hamburger {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}


#sidebar .form-floating > label {
width: 100px !important;
}


#sidebar .input-group > .form-floating {
margin-left: 1px !important;
margin-right: 2px !important;
}


#sidebar {
    width: 258px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    transition: all 0.3s;
    min-height: 100%;
}


#sidebar.active {
    margin-left: -258px;
}


#sidebar #sb_alerts {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    position: absolute;
    top: 13px;
    left: 8px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}


#sidebar .plus_minus {
  margin-top: 18px;
  margin-left: 64px;
  margin-right: 0px;
  margin-bottom: 0px;
}


#sidebar .plus_minus_buttons {
    position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


#sidebar label.pl_mn_lab {
color: red;
transform: scale(.75) translateY(0rem) translateX(0.65rem);
padding: 0rem;
}


#sidebar #quant_font_percent {
height: calc(1.5rem + calc(var(--bs-border-width) * 2));
    padding-left: 0.5rem;
}


#sidebar #dismiss {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    position: absolute;
    top: 14px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}


#sidebar .sidebar-header {
     position: relative;
    padding: 0px;
    margin: auto;
}


#sidebar .sidebar-header p {
     position: relative;
     padding-top: 0px;
     margin-top: 0px;
    margin-bottom: 10px;
}


#sidebar .sidebar-slogan {
     position: relative;
    padding-top: 5px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 0px;
    margin: auto;
}


#sidebar ul.components {
    padding: 10px 0;
}


#sidebar .line {
    width: 100%;
    height: 1px;
    margin: 40px 0;
}


#sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}


/* Custom 3-deep (last) sub-menu */
#sidebar_menu .dropdown-menu {
left: 4px !important;
min-width: 242px;
max-width: 242px;
}


#sidebar ul.CTAs {
    padding: 20px;
}


#sidebar ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}


#sidebar a,
#sidebar a:hover,
#sidebar a:focus {
    font-weight: bold !important;
    text-decoration: none;
    transition: all 0.3s;
}


#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}


#sidebar a[data-bs-toggle="collapse"] {
    position: relative;
}


#sidebar ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}


/* ---------------------------------------------------
    *COLLAPSED* SIDEBAR STYLE
----------------------------------------------------- */


#collapsed_sidebar {
position: fixed; 
text-align: center;
top: 0px; 
bottom: 0px; /* lets fixed pos / 100% height elements scroll overflow */
left: 0px; 
z-index: 5;
padding-bottom: 25px;
min-height: 100%;
overflow-x: hidden;
overflow-y: auto;
}


/* COMPACT sidebar scrollbar styling */
/* width */
#collapsed_sidebar::-webkit-scrollbar {
  width: 5px;
}


#collapsed_sidebar .nav-image {
display: block;
cursor: pointer; 
width: 45px;
height: 45px;
}


#collapsed_sidebar div
{
padding: 5px;
}


#collapsed_sidebar .smallnav_spacer
{
min-height: 9px;
}


#collapsed_sidebar .dropdown-menu {
top: 0px !important;
left: 3px !important; 
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
}


#collapsed_sidebar div.active .dropdown-menu {
top: -8px !important;
}


#collapsed_sidebar .btn-group {
display: flex !important;
border-radius: 0px !important;
}


/* Remove caret icon from drop-down menu items */
#collapsed_sidebar .dropdown-toggle::after {
 display: none !important;
}


#alert_source, #percent_change_amnt, #percent_change_filter, #percent_change_time, #percent_change_alert_type, #show_chart_settings, #show_feed_settings, #show_portfolio_stats, #show_help_faq, #show_system_stats, #show_access_stats, #show_logs, #coins_table, #sys_stats_quick_link_info, .sys_stats_admin_link_info, #header_size_warning, .hidden {
display: none;
}



