deny from all

# Leaving only plugin asset files accessible (for scripts, css, images, etc)
# Add no directory listing logic too (if ever used)
<IfModule mod_rewrite.c>

SetEnvIf Request_URI "(.*)plug-assets/(.*)" allowed_uri

Allow from env=allowed_uri

</IfModule>
