
###########################################################
# ENABLE DIRECTORY PASSWORD PROTECTION
###########################################################

AuthType Basic
AuthName "Password Protected Area"
AuthUserFile [BASE_DIR]/cache/secured/.app_htpasswd
Require valid-user

###########################################################
# END DIRECTORY PASSWORD PROTECTION
###########################################################

