/*
 * Copyright 2014-2019 GPLv3, DFD Cryptocoin Values by Mike Kilday: http://DragonFrugal.com
 */


/* //////////////////////////////
ELEMENTS
////////////////////////////// */


body {
background-color: #080808;
color: #fff;
}


table {
background: #202020;
}


input, select, textarea {
background-color: #dbd9d9;
}


input[type=submit], input[type=button], .force_button_style {
  border: 1px solid white;
  background-color: #42484e;
}


input[readonly] { /* For MSIE */
  background-color: #6f6e6e;
}


input[type=text]:-moz-read-only { /* For Firefox */
  background-color: #6f6e6e;
}


input[type=text]:read-only { 
  background-color: #6f6e6e;
}


a {
color: white;
}


a:visited {
color: #a09e9e;
}


a:hover {
color: #bcbaba;
}


/* //////////////////////////////
CLASSES
////////////////////////////// */


.result {
border: 2px solid white; 
}


.border_lt {
border-top: 2px solid #808080;
border-left: 2px solid #808080;
}


.border_lrt {
border-top: 2px solid #808080;
border-left: 2px solid #808080;
border-right: 2px solid #808080;
}


.border_lb {
border-bottom: 2px solid #808080;
border-left: 2px solid #808080;
}


.border_lrb {
border-bottom: 2px solid #808080;
border-left: 2px solid #808080;
border-right: 2px solid #808080;
}


.border_t {
border-top: 2px solid #808080;
}


.border_b {
border-bottom: 2px solid #808080;
}


.subsection_legend {
color: white;
}


.long_list_odd {
background: #28313a;
}


.long_list_even {
background: #343f49;
}


.red {
color: #cf3d32 !important;
}


.red_dotted {
padding: 10px;
border: 2px dotted #cf3d32 !important;
}


.green {
color: #0a8e01 !important;
}


.green_dotted {
padding: 10px;
border: 2px dotted #0a8e01 !important;
}


.blue {
color: #1681b8 !important;
}


.black {
color: white !important;
}


div.tabdiv {
background: #202020;
}


.tabs a {
background: #909396;
color: black;
}


.tabs a.active {
background: #202020;
color: white;
}


td.data span {
color: white;
}


td.data, td.data span.data, td select {
color: #1681b8;
}


.btn-link, .btn-link a, .btn-link:hover {
color: #1681b8;
}


.start_page_menu {
border: 2px dotted white; 
}


.activate_chart_sections {
border-top: 2px solid white;
}


.modaal-container, .accordion .card {
    color: #fff !important;
    background: #323944 !important;
}


/* //////////////////////////////
IDs
////////////////////////////// */


#api_error_alert {
color: #cf3d32; 
}


