/*
 * Copyright 2014-2019 GPLv3, DFD Cryptocoin Values by Mike Kilday: http://DragonFrugal.com
 */


/* //////////////////////////////
ELEMENTS
////////////////////////////// */


html {
width: auto;
margin: auto;
padding: 0px;
font-family: sans-serif;
font-size: 15px;
}


body {
margin: 15px;
width: auto;
}


table {
background: #fff;
border-collapse: separate;
}


td {
margin: 0px;
padding: 7px;
}

th {
padding-right: 28px;
}


p, h3 { 
word-break: normal;
margin-bottom: 15px;
}


textarea {
box-sizing: border-box;
resize: none;
border: 1px solid #808080;
}


p {
font-size: 15px;
}


input, select {
font-size: 15px;
border: 1px solid #808080;
}

input[type=checkbox], input[type=radio] {
width: 15px !important;
height: 15px !important;
}

input[type=submit], input[type=button], .force_button_style {
  background-color: #808080;
  border: 1px solid black;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
}

a {
color: black;
text-decoration: underline;
}

a:visited {
color: #636060;
}

a:hover {
color: #898888;
}

fieldset {
    width: auto;
    padding: 25px; /* To give a bit of padding on the left and right */
}

legend {
    width:auto;
    padding:6px 6px; /* To give a bit of padding on the left and right */
    border-bottom:none;
    margin-bottom: 0px;
}

/* //////////////////////////////
CLASSES
////////////////////////////// */

.coin_info {
margin: 5px;
}

.show_coin_values {
display: none;
}

.border_lt {
border-top: 2px solid #ccc;
border-left: 2px solid #ccc;
}


.border_lrt {
border-top: 2px solid #ccc;
border-left: 2px solid #ccc;
border-right: 2px solid #ccc;
}


.border_lb {
border-bottom: 2px solid #ccc;
border-left: 2px solid #ccc;
}


.border_lrb {
border-bottom: 2px solid #ccc;
border-left: 2px solid #ccc;
border-right: 2px solid #ccc;
}

.border_t {
border-top: 2px solid #ccc;
padding-right: 25px;
}


.border_b {
border-bottom: 2px solid #ccc;
}


.bold_1 {
font-weight: bold;
padding: 5px;
line-height: 25px;
}


.subsection_fieldset {
border: 1px solid #808080;
margin: 25px;
margin-bottom: 50px;
}


.subsection_legend {
color: black;
}


.help_section {
border: 1px solid #808080;
padding: 15px;
margin: 10px;
margin-bottom: 50px;
}


.links_list {
font-weight: bold;
margin: 20px;
}


.long_linebreak { 
display: block;
width: 350px;
word-wrap: break-word;
}


.settings_sections {
margin: 25px;
}


.long_list {
padding: 15px;
margin: 0px;
}

.long_list_end {
margin-bottom: 10px;
}

.red {
color: #D61F00 !important;
}

.green {
color: #066000 !important;
}

.green_bright {
color: #0bb200 !important;
}


.orange {
color: #ea6b1c !important;
}

.yellow {
color: #ffb83f !important;
}

.blue {
color: #1a1696 !important;
}


.tabs {
padding: 0px; 
margin: 0px;
}


div.tabdiv {
padding: 15px;
min-width: 1200px;
max-width: 1700px;
min-height: 150px;
display: inline-block;
background: #fff;
border: 2px solid #808080;
}


.tabli a {
border-top-left-radius: 4px;
border-top-right-radius: 4px;
font-size: 21px;
}


.tabdiv {
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
}


.tabs li {
list-style: none;
display: inline;
}


.tabs a {
padding: 5px 10px;
display: inline-block;
background: #808080;
color: white;
text-decoration: none;
}


.tabs a.active {
top: 2px;
position: relative;
border-top: 2px solid #808080;
border-left: 2px solid #808080;
border-right: 2px solid #808080;
background: #fff;
color: black;
}


td.data, td.data span.data, td select {
color: #1a1696;
font-size: 15px;
}


td.data span {
color: black;
font-size: 15px;
white-space: nowrap;
}


.gain, td.data span.gain, td.data div.gain span, .btc_worth, .btc_worth span, td.data div.btc_worth span {
margin: 2px;
padding: 0px;
color: #065640; /* slightly darker green than normal */
font-size: 13px;
border: 0px;
background: none;
white-space: nowrap;
}


.loss, td.data span.loss, td.data div.loss span {
margin: 2px;
padding: 0px;
color: #af1700; /* slightly darker red than normal */
font-size: 13px;
border: 0px;
background: none;
white-space: nowrap;
}

.btn-link {
font-weight: 800;
font-size: 15px;
color: #1a1696;
text-decoration: none;
}

.force_1200px_wrapper {
position: relative;
max-width: 1200px;
}

.charts_wrapper {
position: relative;
width: 100%;
}

.countdown_notice {
position: absolute;
top: 0px;
right: 0px;
}

/* //////////////////////////////
IDs
////////////////////////////// */


#coins_table {
position: relative;
min-width: 1200px;
}


#coins_table td:last-child {
}


#api_error_alert {
font-weight: bold; 
color: #b53d2d; 
padding: 6px;
}


#alert_source, #percent_change_amount, #percent_change_time, #percent_change_alert_type {
display: none;
}


