deny from all

# DISABLED example of leaving only SPECIFIC directory files accessible (for captcha images etc)
# Add no directory listing logic too (if ever used)
<IfModule mod_rewrite.c>

#SetEnvIf Request_URI "(.*)app-lib/php/classes/core/TEST-ONLY78528/(.*)" allowed_uri

#Allow from env=allowed_uri

</IfModule>
