/*
 * Copyright 2014-2022 GPLv3, Open Crypto Tracker by Mike Kilday: Mike@DragonFrugal.com
 */


/* //////////////////////////////
ELEMENTS
////////////////////////////// */


body {
background-color: #080808;
color: #fff;
}


table, div.tabdiv, .tabs a.active {
background: #202020;
color: white;
}


input, textarea {
background-color: #dbd9d9;
}


select {
background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='black' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .5rem center/8px 10px !important;
background-color: #dbd9d9 !important;
}


input[type=submit], input[type=button], .force_button_style {
  border: 1px solid #999999;
  background-color: #42484e;
}


input[readonly] { /* For MSIE */
  background-color: #6f6e6e;
}


input[type=text]:-moz-read-only { /* For Firefox */
  background-color: #6f6e6e;
}


input[type=text]:read-only { 
  background-color: #6f6e6e;
}


input[type=text]:disabled { 
  background-color: #6f6e6e;
  color: black;
}


a, .black, td.data span, .subsection_legend, .crypto_worth, .crypto_worth span, td.data div.crypto_worth span {
color: white;
}


a:visited {
color: #a09e9e;
}


a:hover {
color: #bcbaba;
}


/* //////////////////////////////
CLASSES
////////////////////////////// */


.disable_click{
background: #ce7039 !important;
}


.pw_prompt {
    border: 3px solid white;
    background: #777575 !important;
}


.custom-select:disabled { 
  background-color: #6f6e6e !important;
  color: black !important;
}


/* Dark theme drop-downs (in table data only) need dark background too */
td .custom-select {
background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%2328b2ed' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .5rem center/8px 10px !important;
background-color: #3a3a3a !important;
width: 100% !important;
}


.result {
border: 2px solid white; 
}


.border_lt {
border-top: 2px solid #808080;
border-left: 2px solid #808080;
}


.border_rt {
border-top: 2px solid #808080;
border-right: 2px solid #808080;
}


.border_lrt {
border-top: 2px solid #808080;
border-left: 2px solid #808080;
border-right: 2px solid #808080;
}


.border_lb {
border-bottom: 2px solid #808080;
border-left: 2px solid #808080;
}


.border_rb {
border-bottom: 2px solid #808080;
border-right: 2px solid #808080;
}


.border_lrb {
border-bottom: 2px solid #808080;
border-left: 2px solid #808080;
border-right: 2px solid #808080;
}


.border_t {
border-top: 2px solid #808080;
}


.border_b {
border-bottom: 2px solid #808080;
}


.long_list_odd {
background: #28313a;
}


.long_list_even {
background: #343f49;
}


.list_start_black {
border-bottom: 2px solid white;
}


.list_end_black {
border-top: 2px solid white;
}


.green {
color: #10d602 !important;
}


.green_dotted {
padding: 10px;
border: 2px dotted #10d602 !important;
}


.orange {
color: #ce7039 !important;
}


.blue, td.blue, td.blue span.blue, td select, .btn-link, .btn-link a, .btn-link:hover {
color: #28b2ed !important;
}


.tabs a {
background: #909396;
color: black;
}


.start_page_menu {
border: 2px dotted white; 
}


.start_page_menu_red {
border: 3px dotted #ff4747; 
}


.activate_chart_sections {
border-top: 2px solid white;
}


.modaal-container {
    color: #fff !important;
    background: #202020 !important;
}


.card-body {
    color: #fff !important;
    background: #4f4f4f !important;
}


.card-header {
    background: #2d2d2d !important;
}


.rounded {
border: 1px solid #d4d8d3; 
}


.image_border {
border: 2px solid #d4d8d3; 
}


.countdown_notice {
background: #202020;
}

/* RED LAST, TO ALWAYS OVERIDE */

.red_background {
background-color: #ff4747 !important;
}

.red_dotted {
padding: 10px;
border: 2px dotted #ff4747 !important;
}


.red, #app_error_alert {
color: #ff4747 !important;
}


#charts_error, #system_charts_error {
border: 4px dotted #ff4747;
}


#header_size_warning {
color: #ff4747;
}


/* //////////////////////////////
IDs
////////////////////////////// */


#admin_nav .dropdown-menu {
background: #ccc7c7 !important;
border: 2px solid white !important;
}


#topnav .navbar-nav .dropdown-menu a:link, #body_top_nav .navbar-nav .dropdown-menu a:visited {
color: black;
}


#topnav .navbar-nav .dropdown-item:hover {
background-color: #ccc7c7 !important;
color: #666464 !important;
}


#topnav .navbar-nav .dropdown-item.active {
background-color: #606060 !important;
color: white !important;
border-radius: 3px;
}

