/*
 * Copyright 2014-2022 GPLv3, Open Crypto Tracker by Mike Kilday: Mike@DragonFrugal.com
 */


/* //////////////////////////////
ELEMENTS
////////////////////////////// */




/* //////////////////////////////
CLASSES
////////////////////////////// */


.admin_title {
    background: #fff;
    border: 1px dotted #dbd9d9 !important;
}


.tab-content>.active, .iframe_wrapper {
background-color: #fff;
color: #000;
}


.nav-tabs-vertical .nav-link.active {
color: #000;
background-color: #fff;
text-decoration: none;
}


.nav-tabs-vertical .nav-link {
color: #fff;
background: #808080;
}


/* //////////////////////////////
IDs
////////////////////////////// */

